body {
  text-align: center;
  font-family: Arial, sans-serif;
}

#paypal-amount-options{
  display: flex;
  align-items: center;
  justify-content: center;  
  flex-wrap: wrap;  
  max-width: 500px;
  margin: 0 auto;
}

#paypal-amount-options .field{
  border: solid 1px #cdcdcd;
  padding: 10px;
  flex: 1 0 0 80px;
  margin: 5px;
  border-radius: 5px;
}

.paypal-buttons{
 max-width: 300px;
  margin-top: 20px;
}

#desc_message{
  max-width: 900px;
  margin: 80px auto;
  line-height: 35px;
}

#desc_message p{
  font-size: 24px;
  
}

#desc_message img.propic{
  border-radius: 60%;
  border: solid 8px #cdcdcd;
}
